# Dependencies
node_modules

# Build output
.svelte-kit
build
.vercel
.cloudflare

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage

# Wrangler
.wrangler

